<div class="card mb-2">
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" [id]="item.id" [checked]="item.done">
            </div>
        </div>
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <div class="button d-flex justify-content-end gap-2">
            <a class="btn btn-secondary" (click)="update(item)">Modifica</a>
            <a class="btn btn-danger" (click)="remove(item)">Elimina</a>
            <a class="btn btn-secondary" (click)="goToDetail(item.id)">Details</a>
        </div>
    </div>
</div>